.env
__pycache__/
*.pyc
.venv/
venv/
data/
*.log
tools/
arxiv_paper_all/latex/*.aux
arxiv_paper_all/latex/*.log
arxiv_paper_all/latex/*.bbl
arxiv_paper_all/latex/*.blg
arxiv_paper_all/latex/*.out
arxiv_paper_all/latex/*.toc
